{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} {{question.title}} Details {% endblock title%}

{% block body %}
    <!-- Question  -->
    <div class="container mt-4">
        <h1>{{question.title}}</h1>
        <p>{{question.body}}</p>

        <h6>
            Posted By: <i>{{question.author}}</i>
        </h6>
        <p>Asked on {{question.created_at}}</p>

        {% if request.user == question.author %}
            <a href="" class="btn btn-danger">Delete</a>
            <a href="{% url 'update_question' question.slug %}" class="btn btn-warning">Edit</a>
        {% endif %}

        <hr class="my-4" />
    </div>

    <!-- Answers  -->
    <div class="container mt-4">
        {% for answer in answer_list %}
            <div class="card mt-4">
                <div class="card-body">
                    <p class="card-text">{{answer.description}}</p>
                    <div class="row">
                        <div class="col col-md-auto">
                            Answered By <i>{{answer.author.username}} on {{answer.created_at}}</i>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Answer Form -->
    <div class="container mt-4 mb-4">
        <div class="card mt-4">
            <form action="" method="POST" novalidate>
                <h5 class="card-header">Submit Answer</h5>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" value="Answer Question" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
{% endblock body %}