{% extends "base.html" %}

{% block title %}Questions List{% endblock title %}

{% block styles %}
    <style>
        .link-style {
            text-decoration: none;
            color: rgb(28,90,4)
        }
        .link-style:hover {
            text-decoration: none;
            color: green;
        }
    </style>
{% endblock styles %}

{% block body %}
    <div class="container mt-4">
        {% for question in question_list %}
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="link-style" href="{% url 'question_details' question.slug %}">{{question.title}}</a>
                    </h5>

                    <div class="card-footer mt-3">
                        <div class="row">
                            <div class="col col-md-auto">
                                Posted By: {{question.author.username}}
                            </div>
                            <div class="col col-md-auto">
                                Answers: {{question.answers.count}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock body %}