{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock %}

{% block styles %} 
    <style>
        .register-style {
            width: 500px;
            height: auto;
        }
    </style>
{% endblock styles %}

{% block body %}
    <div class="container mt-4 register-style">
        <h3>Register an account</h3>
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            {{ user_form | crispy }}
            <input type="submit" value="Create Account" class="btn btn-success">
        </form>
    </div>
{% endblock body %}